{% extends 'base.html.twig' %}

{% block title %}Modifier la tâche{% endblock %}

{% block body %}
    <h1>Modifier la tâche</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success">Enregistrer les modifications</button>
    {{ form_end(form) }}

    <a href="{{ path('task_index') }}" class="btn btn-secondary">Retour à la liste</a>
{% endblock %}
